@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
:root {
  --hue: 20;
  --tapeColor: hsla(var(--hue), 50%, 50%, 0.9);
  --bgColor: hsl(var(--hue), 75%, 20%);
  --hpDark: hsla(var(--hue), 0%, 50%);
  --soundColor: #adf042;
  --size-W: 12em;
  --size-H: 10em;
  --size-P: 2em;
  --shadow: 0 0 0.25em 0.01em var(--bgColor) inset;
  --rotateSpeed: 20s;
  --btn1: 1em;
  --btn2: 1em;
  --btn3: 1em;
  --cuir: url("./textures/cuir-noir.jpg");
  --alu: url("./textures/antena.jpg");
  --speaker: url("./textures/speaker.png");
  --toileGrise: url("./textures/toile-grise.jpg");
  --bois: url("./textures/bois.jpg");
  --sol: url("./textures/sol.png");
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  background: var(--bgColor);
  font-size: 27.5px;
}

.body {
  min-height: calc(100vh - 78px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-perspective: 15em;
          perspective: 15em;
  -webkit-perspective-origin: 50% calc(50% - 3em);
          perspective-origin: 50% calc(50% - 3em);
  overflow: hidden;
}

h1 {
  position: absolute;
  top: 1em;
  color: #c5c5c5;
  font-family: "Pacifico", cursive;
}

h3 {
  position: absolute;
  top: 0.5em;
  color: var(--tapeColor);
  font-family: "Pacifico", cursive;
}

.inputs {
  font-family: "Pacifico", cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #c5c5c5;
  font-size: 16px;
}

.inputs label {
  margin-right: 0.5em;
}

.btn1,
.btn2,
.btn3 {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #fff;
}

.scene-3d {
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  background: #fff;
}

.tape-player {
  width: var(--size-W);
  height: var(--size-H);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: absolute;
  left: calc(50% - 6em);
  top: calc(50% - 5em);
}

.tape-player div {
  display: -ms-grid;
  display: grid;
  place-items: center;
  /** 
         * TEXTURE PLAYER CUIR NOIR
         */
  background-image: var(--cuir);
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
}

.tape-player .front,
.tape-player .back {
  position: absolute;
  width: 100%;
  height: 100%;
}

.tape-player .left,
.tape-player .right {
  position: absolute;
  width: var(--size-P);
  height: 100%;
}

.tape-player .front {
  -webkit-transform: rotateY(0deg) perspective(1em);
          transform: rotateY(0deg) perspective(1em);
}

.tape-player .back {
  -webkit-transform: rotateY(180deg) translateZ(2em);
          transform: rotateY(180deg) translateZ(2em);
}

.tape-player .left {
  -webkit-transform: rotateY(90deg) translateZ(-1em) translateX(1em);
          transform: rotateY(90deg) translateZ(-1em) translateX(1em);
}

.tape-player .right {
  -webkit-transform: rotateY(90deg) translateZ(11em) translateX(1em);
          transform: rotateY(90deg) translateZ(11em) translateX(1em);
}

.tape-player .top {
  position: absolute;
  width: var(--size-W);
  height: var(--size-P);
  -webkit-transform: translateY(-50%) rotateX(90deg) translateY(-1em);
          transform: translateY(-50%) rotateX(90deg) translateY(-1em);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.tape-player .top .antena-l,
.tape-player .top .antena-r,
.tape-player .top .antena-f,
.tape-player .top .antena-b,
.tape-player .top .antena-t {
  position: absolute;
  width: 4em;
  height: 0.2em;
  /**
             * TEXTURE ANTENA ALUMINIUM
             */
  background-image: var(--alu);
  background-position: center;
  background-size: cover;
}

.tape-player .top .antena-t {
  width: 0.2em;
  background: var(--tapeColor);
  -webkit-transform: translateX(-5.5em) translateZ(4em);
          transform: translateX(-5.5em) translateZ(4em);
}

.tape-player .top .antena-l {
  -webkit-transform: translateX(-5.6em) translateZ(2em) rotateY(90deg);
          transform: translateX(-5.6em) translateZ(2em) rotateY(90deg);
}

.tape-player .top .antena-r {
  -webkit-transform: translateX(-5.4em) translateZ(2em) rotateY(90deg);
          transform: translateX(-5.4em) translateZ(2em) rotateY(90deg);
}

.tape-player .top .antena-f {
  -webkit-transform: translateX(-5.5em) translateY(0.1em) translateZ(2.02em) rotateY(90deg) rotateX(90deg);
          transform: translateX(-5.5em) translateY(0.1em) translateZ(2.02em) rotateY(90deg) rotateX(90deg);
}

.tape-player .top .antena-b {
  -webkit-transform: translateX(-5.5em) translateY(-0.1em) translateZ(2.02em) rotateY(90deg) rotateX(90deg);
          transform: translateX(-5.5em) translateY(-0.1em) translateZ(2.02em) rotateY(90deg) rotateX(90deg);
}

.tape-player .bottom {
  position: absolute;
  width: var(--size-W);
  height: var(--size-P);
  -webkit-transform: translateY(9em) rotateX(90deg) translateY(-1em);
          transform: translateY(9em) rotateX(90deg) translateY(-1em);
}

.tape-player .button-ctrl {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: absolute;
  top: 1em;
}

.btn0 {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: absolute;
  width: 2.5em;
  height: 1.5em;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  -webkit-transform: translateX(0em) translateZ(var(--btn0));
          transform: translateX(0em) translateZ(var(--btn0));
}

.btn0 div {
  width: 100%;
  height: 100%;
  position: absolute;
  /**
             * TEXTURE BUTTON TOILE JAUNE
             */
  background-image: var(--bois) !important;
  background-position: center;
  background-size: cover;
}

.btn0 div .play-btn,
.btn0 div .stop-btn,
.btn0 div .pause-btn {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn0 div .play-btn {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.5em 0 0.5em 1.25em;
  border-color: transparent transparent transparent #fff;
}

.btn0 div .stop-btn {
  width: 1em;
  height: 1em;
  background: #fff !important;
}

.btn0 div .pause-btn::after, .btn0 div .pause-btn::before {
  content: "";
  position: absolute;
  width: 0.3em;
  height: 1em;
  background: #fff;
}

.btn0 div .pause-btn::after {
  right: 0.85em;
}

.btn0 div .pause-btn::before {
  left: 0.85em;
}

.btn0 .rightBtn,
.btn0 .leftBtn {
  width: 1em;
  height: 1.5em;
}

.btn0 .rightBtn {
  -webkit-transform: rotateY(90deg) translateZ(1.25em) translateX(0.5em);
          transform: rotateY(90deg) translateZ(1.25em) translateX(0.5em);
}

.btn0 .leftBtn {
  -webkit-transform: rotateY(90deg) translateZ(-1.25em) translateX(0.5em);
          transform: rotateY(90deg) translateZ(-1.25em) translateX(0.5em);
}

.btn0 .topBtn,
.btn0 .bottomBtn {
  width: 2.5em;
  height: 1em;
}

.btn0 .topBtn {
  -webkit-transform: rotateX(90deg) translateZ(0.75em) translateY(-0.5em);
          transform: rotateX(90deg) translateZ(0.75em) translateY(-0.5em);
}

.btn0 .bottomBtn {
  -webkit-transform: rotateX(90deg) translateZ(-0.75em) translateY(-0.5em);
          transform: rotateX(90deg) translateZ(-0.75em) translateY(-0.5em);
}

.btn0:focus, .btn0:active {
  -webkit-transform: translateX(0em) translateZ(0.25em);
          transform: translateX(0em) translateZ(0.25em);
}

.btn0:focus .stop-btn, .btn0:active .stop-btn {
  background: var(--soundColor);
}

.btn1 {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: absolute;
  width: 2.5em;
  height: 1.5em;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  -webkit-transform: translateX(3em) translateZ(var(--btn1));
          transform: translateX(3em) translateZ(var(--btn1));
}

.btn1 div {
  width: 100%;
  height: 100%;
  position: absolute;
  /**
             * TEXTURE BUTTON TOILE JAUNE
             */
  background-image: var(--bois) !important;
  background-position: center;
  background-size: cover;
}

.btn1 div .play-btn,
.btn1 div .stop-btn,
.btn1 div .pause-btn {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn1 div .play-btn {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.5em 0 0.5em 1.25em;
  border-color: transparent transparent transparent #fff;
}

.btn1 div .stop-btn {
  width: 1em;
  height: 1em;
  background: #fff !important;
}

.btn1 div .pause-btn::after, .btn1 div .pause-btn::before {
  content: "";
  position: absolute;
  width: 0.3em;
  height: 1em;
  background: #fff;
}

.btn1 div .pause-btn::after {
  right: 0.85em;
}

.btn1 div .pause-btn::before {
  left: 0.85em;
}

.btn1 .rightBtn,
.btn1 .leftBtn {
  width: 1em;
  height: 1.5em;
}

.btn1 .rightBtn {
  -webkit-transform: rotateY(90deg) translateZ(1.25em) translateX(0.5em);
          transform: rotateY(90deg) translateZ(1.25em) translateX(0.5em);
}

.btn1 .leftBtn {
  -webkit-transform: rotateY(90deg) translateZ(-1.25em) translateX(0.5em);
          transform: rotateY(90deg) translateZ(-1.25em) translateX(0.5em);
}

.btn1 .topBtn,
.btn1 .bottomBtn {
  width: 2.5em;
  height: 1em;
}

.btn1 .topBtn {
  -webkit-transform: rotateX(90deg) translateZ(0.75em) translateY(-0.5em);
          transform: rotateX(90deg) translateZ(0.75em) translateY(-0.5em);
}

.btn1 .bottomBtn {
  -webkit-transform: rotateX(90deg) translateZ(-0.75em) translateY(-0.5em);
          transform: rotateX(90deg) translateZ(-0.75em) translateY(-0.5em);
}

.btn1:focus, .btn1:active {
  -webkit-transform: translateX(3em) translateZ(0.25em);
          transform: translateX(3em) translateZ(0.25em);
}

.btn1:focus .stop-btn, .btn1:active .stop-btn {
  background: var(--soundColor);
}

.btn2 {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: absolute;
  width: 2.5em;
  height: 1.5em;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  -webkit-transform: translateX(6em) translateZ(var(--btn2));
          transform: translateX(6em) translateZ(var(--btn2));
}

.btn2 div {
  width: 100%;
  height: 100%;
  position: absolute;
  /**
             * TEXTURE BUTTON TOILE JAUNE
             */
  background-image: var(--bois) !important;
  background-position: center;
  background-size: cover;
}

.btn2 div .play-btn,
.btn2 div .stop-btn,
.btn2 div .pause-btn {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn2 div .play-btn {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.5em 0 0.5em 1.25em;
  border-color: transparent transparent transparent #fff;
}

.btn2 div .stop-btn {
  width: 1em;
  height: 1em;
  background: #fff !important;
}

.btn2 div .pause-btn::after, .btn2 div .pause-btn::before {
  content: "";
  position: absolute;
  width: 0.3em;
  height: 1em;
  background: #fff;
}

.btn2 div .pause-btn::after {
  right: 0.85em;
}

.btn2 div .pause-btn::before {
  left: 0.85em;
}

.btn2 .rightBtn,
.btn2 .leftBtn {
  width: 1em;
  height: 1.5em;
}

.btn2 .rightBtn {
  -webkit-transform: rotateY(90deg) translateZ(1.25em) translateX(0.5em);
          transform: rotateY(90deg) translateZ(1.25em) translateX(0.5em);
}

.btn2 .leftBtn {
  -webkit-transform: rotateY(90deg) translateZ(-1.25em) translateX(0.5em);
          transform: rotateY(90deg) translateZ(-1.25em) translateX(0.5em);
}

.btn2 .topBtn,
.btn2 .bottomBtn {
  width: 2.5em;
  height: 1em;
}

.btn2 .topBtn {
  -webkit-transform: rotateX(90deg) translateZ(0.75em) translateY(-0.5em);
          transform: rotateX(90deg) translateZ(0.75em) translateY(-0.5em);
}

.btn2 .bottomBtn {
  -webkit-transform: rotateX(90deg) translateZ(-0.75em) translateY(-0.5em);
          transform: rotateX(90deg) translateZ(-0.75em) translateY(-0.5em);
}

.btn2:focus, .btn2:active {
  -webkit-transform: translateX(6em) translateZ(0.25em);
          transform: translateX(6em) translateZ(0.25em);
}

.btn2:focus .stop-btn, .btn2:active .stop-btn {
  background: var(--soundColor);
}

.btn3 {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: absolute;
  width: 2.5em;
  height: 1.5em;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  -webkit-transform: translateX(9em) translateZ(var(--btn3));
          transform: translateX(9em) translateZ(var(--btn3));
}

.btn3 div {
  width: 100%;
  height: 100%;
  position: absolute;
  /**
             * TEXTURE BUTTON TOILE JAUNE
             */
  background-image: var(--bois) !important;
  background-position: center;
  background-size: cover;
}

.btn3 div .play-btn,
.btn3 div .stop-btn,
.btn3 div .pause-btn {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn3 div .play-btn {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.5em 0 0.5em 1.25em;
  border-color: transparent transparent transparent #fff;
}

.btn3 div .stop-btn {
  width: 1em;
  height: 1em;
  background: #fff !important;
}

.btn3 div .pause-btn::after, .btn3 div .pause-btn::before {
  content: "";
  position: absolute;
  width: 0.3em;
  height: 1em;
  background: #fff;
}

.btn3 div .pause-btn::after {
  right: 0.85em;
}

.btn3 div .pause-btn::before {
  left: 0.85em;
}

.btn3 .rightBtn,
.btn3 .leftBtn {
  width: 1em;
  height: 1.5em;
}

.btn3 .rightBtn {
  -webkit-transform: rotateY(90deg) translateZ(1.25em) translateX(0.5em);
          transform: rotateY(90deg) translateZ(1.25em) translateX(0.5em);
}

.btn3 .leftBtn {
  -webkit-transform: rotateY(90deg) translateZ(-1.25em) translateX(0.5em);
          transform: rotateY(90deg) translateZ(-1.25em) translateX(0.5em);
}

.btn3 .topBtn,
.btn3 .bottomBtn {
  width: 2.5em;
  height: 1em;
}

.btn3 .topBtn {
  -webkit-transform: rotateX(90deg) translateZ(0.75em) translateY(-0.5em);
          transform: rotateX(90deg) translateZ(0.75em) translateY(-0.5em);
}

.btn3 .bottomBtn {
  -webkit-transform: rotateX(90deg) translateZ(-0.75em) translateY(-0.5em);
          transform: rotateX(90deg) translateZ(-0.75em) translateY(-0.5em);
}

.btn3:focus, .btn3:active {
  -webkit-transform: translateX(9em) translateZ(0.25em);
          transform: translateX(9em) translateZ(0.25em);
}

.btn3:focus .stop-btn, .btn3:active .stop-btn {
  background: var(--soundColor);
}

.active .frontBtn .play-btn {
  border-color: transparent transparent transparent var(--soundColor);
}

.active .frontBtn .pause-btn::after, .active .frontBtn .pause-btn::before {
  background: var(--soundColor);
}

.speakers {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: absolute;
  top: 6em;
  left: 50%;
}

.speakers .sp-front,
.speakers .sp-left,
.speakers .sp-right,
.speakers .sp-top,
.speakers .sp-bottom {
  position: absolute;
  /**
         * TEXTURE BUTTON TOILE JAUNE
         */
  background-image: var(--toileGrise) !important;
  background-position: center;
  background-size: cover;
}

.speakers .sp-front {
  -webkit-transform: translateZ(0.5em);
          transform: translateZ(0.5em);
  width: 11em;
  height: 6em;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.speakers .sp-left,
.speakers .sp-right {
  width: 0.5em;
  height: 6em;
}

.speakers .sp-left {
  -webkit-transform: rotateY(90deg) translateZ(-5.5em) translateX(-0.25em);
          transform: rotateY(90deg) translateZ(-5.5em) translateX(-0.25em);
}

.speakers .sp-right {
  -webkit-transform: rotateY(90deg) translateZ(5.5em) translateX(-0.25em);
          transform: rotateY(90deg) translateZ(5.5em) translateX(-0.25em);
}

.speakers .sp-top,
.speakers .sp-bottom {
  width: 11em;
  height: 0.5em;
}

.speakers .sp-top {
  -webkit-transform: rotateX(90deg) translateZ(3em) translateY(0.25em);
          transform: rotateX(90deg) translateZ(3em) translateY(0.25em);
}

.speakers .sp-bottom {
  -webkit-transform: rotateX(90deg) translateZ(-3em) translateY(0.25em);
          transform: rotateX(90deg) translateZ(-3em) translateY(0.25em);
}

.speakers .speaker-L,
.speakers .speaker-R {
  border-radius: 50%;
  width: 5em;
  height: 5em;
  position: absolute;
  background: none;
  opacity: .25;
  /**
         * TEXTURE BUTTON TOILE JAUNE
         */
  background-image: var(--speaker) !important;
  background-position: center;
  background-size: cover;
}

.speakers .speaker-L {
  left: 0.25em;
}

.speakers .speaker-R {
  right: 0.25em;
}

.animate {
  -webkit-animation: soundPlay 2s infinite linear;
          animation: soundPlay 2s infinite linear;
}

@-webkit-keyframes soundPlay {
  0%, 100% {
    -webkit-transform: translateZ(0em);
            transform: translateZ(0em);
  }
  20% {
    -webkit-transform: translateZ(0.25em);
            transform: translateZ(0.25em);
  }
}

@keyframes soundPlay {
  0%, 100% {
    -webkit-transform: translateZ(0em);
            transform: translateZ(0em);
  }
  20% {
    -webkit-transform: translateZ(0.25em);
            transform: translateZ(0.25em);
  }
}

.antena-animation {
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateX(90deg) translateX(-5.5em) translateY(4em);
          transform: rotateX(90deg) translateX(-5.5em) translateY(4em);
}

.antena-animation span {
  display: block;
  position: absolute;
  width: 0em;
  height: 0em;
  border-radius: 50%;
  border: var(--soundColor) 0.25em solid;
  -webkit-animation: 2s linear infinite;
          animation: 2s linear infinite;
  opacity: 1;
}

.antena-animation span:nth-child(0) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.antena-animation span:nth-child(1) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.antena-animation span:nth-child(2) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes antenaWaves {
  to {
    border-size: 1px;
    width: 5em;
    height: 5em;
    -webkit-transform: translateX(0.75em) translateZ(-3em);
            transform: translateX(0.75em) translateZ(-3em);
    opacity: 0.1;
  }
}

@keyframes antenaWaves {
  to {
    border-size: 1px;
    width: 5em;
    height: 5em;
    -webkit-transform: translateX(0.75em) translateZ(-3em);
            transform: translateX(0.75em) translateZ(-3em);
    opacity: 0.1;
  }
}

.floor {
  position: absolute;
  width: 100vw;
  height: 30em;
  background-image: var(--sol);
  background-size: cover;
  -webkit-transform: rotateX(90deg) translateX(-50%);
          transform: rotateX(90deg) translateX(-50%);
}
/*# sourceMappingURL=style.css.map */